{% extends "navbar.html" %}

<!-- CONTENT -->
{% block content %}

<div class="d-none d-lg-block"></div>
<section class="bg-grey" id="informasi">
    <div class="container py-5">
        <div class="row">
            
            <div class="col-md-8">
                <div class="d-none" style="position: absolute;top:-70px;left:-110px;">
                    <h1 class="title-shadow">INDONESIA SEHAT, AMAN,</h1>
                </div>
                <div class="d-none" style="position: absolute;top:-10px;left:-90px;">
                    <h1 class="title-shadow">PRODUKTIF</h1>
                </div>
                <div style="position: relative;font-size: 45px;">
                    <h1>WUJUDKAN INDONESIA</h1>
                    <h1><span class="title-blue px-2">SEHAT, AMAN, PRODUKTIF</span></h1>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-none d-lg-block" style="position: absolute;top:-150px;right:-10px;">
                    <img src="" alt="">
                </div>
            </div>
        </div>
        <div class="py-3 d-none d-lg-block"></div>
        <div class="row m-0">
            <div class="col-md-6 text-center" style="align-self: center;">
                <div class="d-none d-lg-block">
                    <img class="img-fluid mb-3" src="https://corona.jakarta.go.id/img/logo/img-waspada.svg" alt="" style="width:59%;height:auto;">
                </div>
            </div>
            <div class="col-md-5" style="align-self: center;">
                <h3>Waspada Penularan COVID-19</h3>
                <p>SARS-CoV-2 penyebab COVID-19 menyebar melalui kontak dengan droplet saluran napas penderita yang dihasilkan pada saat bicara, batuk, atau bersin. Droplet dapat bertahan di udara dalam beberapa waktu tertentu dan sampai jarak tertentu.</p>
                <div class="d-lg-none">
                    <img class="img-fluid mb-3" src="https://corona.jakarta.go.id/img/logo/img-waspada.svg" alt="" style="width:100%;height:auto;">
                </div>
                <div class="d-none d-lg-block">
                    <a href="https://corona.jakarta.go.id/id/faq" class="btn button-lihat raise2" target="_blank" rel="noopener noreferrer">Selengkapnya</a>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6 text-center">
                <div class="d-lg-none pb-5">
                    <a href="https://corona.jakarta.go.id/id/faq" class="btn button-lihat raise2" target="_blank" rel="noopener noreferrer">Selengkapnya</a>
                </div>
            </div>
        </div>
        <div class="pt-3 pb-5 d-none d-lg-block"></div>
        <div class="row m-0 py-5">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
                <h3>Protokol Kesehatan Yang Harus Anda Patuhi</h3>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row m-0">
            <div class="col-md-4">
                <div class="card my-3 px-3 justify-content-center" style="height: 250px;border-radius:20px;position:relative;border:none;">
                    <img class="img-fluid mb-3 d-none d-lg-block" src="https://corona.jakarta.go.id/img/logo/img-protokol-1.svg" alt="" style="height:auto;position: absolute;top:-20px;right:20px;">
                    <img class="img-fluid mb-3 d-lg-none" src="https://corona.jakarta.go.id/img/logo/img-protokol-1.svg" alt="" style="width:30%;height:auto;position: absolute;top:-10px;right:10px;">
                    <p><b>Tinggal Di Rumah</b></p>
                    <p>Tidak keluar bila tidak ada keperluan mendesak.</p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="d-none d-lg-block">
                    <div class="card my-3 px-3 justify-content-center" style="height: 250px;border-radius:20px;position:relative;border:none;">
                        <img class="img-fluid mb-3" src="https://corona.jakarta.go.id/img/logo/img-3m.svg" alt="" style="height:auto;position: absolute;top:-20px;right:20px;">
                        <p><b>Selalu Jalankan 5M</b></p>
                        <p><ul>
                <li>Memakai masker (<a href="https://www.instagram.com/p/CQbJoNWAN7Z/" target="_blank">panduan memakai masker</a>)</li>
                <li>Mencuci tangan dengan sabun dan air mengalir</li>
                <li>Menjaga jarak aman 1,5 - 2 meter dengan orang lain</li>
                <li>Menjauhi kerumunan saat di luar rumah</li>
                <li>Mengurangi mobilitas kecuali untuk keperluan mendesak</li>
            </ul></p>
                    </div>
                </div>
                <div class="d-lg-none">                
                    <div class="card my-3 px-3 justify-content-center" style="height: 450px;border-radius:20px;position:relative;border:none;">
                        <img class="img-fluid mb-3" src="https://corona.jakarta.go.id/img/logo/img-3m.svg" alt="" style="width:30%;height:auto;position: absolute;top:-10px;right:10px;">
                        <p><b>Selalu Jalankan 5M</b></p>
                        <p><ul>
                <li>Memakai masker (<a href="https://www.instagram.com/p/CQbJoNWAN7Z/" target="_blank">panduan memakai masker</a>)</li>
                <li>Mencuci tangan dengan sabun dan air mengalir</li>
                <li>Menjaga jarak aman 1,5 - 2 meter dengan orang lain</li>
                <li>Menjauhi kerumunan saat di luar rumah</li>
                <li>Mengurangi mobilitas kecuali untuk keperluan mendesak</li>
            </ul></p>
                    </div>                    
                </div>
            </div>
            <div class="col-md-8">
                <div class="d-none d-lg-block">
                    <div class="card my-3 px-3 justify-content-center" style="height: 250px;border-radius:20px;position:relative;border:none;">
                        <img class="img-fluid mb-3 d-none d-lg-block" src="https://corona.jakarta.go.id/img/logo/img-protokol-2.svg" alt="" style="height:auto;position: absolute;top:-20px;right:20px;">
                        <img class="img-fluid mb-3 d-lg-none" src="https://corona.jakarta.go.id/img/logo/img-protokol-2.svg" alt="" style="width:30%;height:auto;position: absolute;top:-10px;right:10px;">
                        <p><b>Maksimal 25%</b></p>
                        <p>Sesuai <a href="https://corona.jakarta.go.id/storage/documents/keputusan-gubernur-dki-jakarta-nomor-796-tahun-2021-tentang-perpanjangan-pemberlakuan-pembatasan-kegiatan-masyarakat-berbasis-mikro-60d298473a8f1.pdf" target="_blank">Kepgub No. 796 Tahun 2021</a>, seluruh kegiatan non-sektor esensial harus beroperasi dalam kapasitas <a href="https://www.instagram.com/p/CQdTpMogi2G/" target="_blank">maksimal 25%</a> dan menjalankan protokol kesehatan dengan ketat.</p>
                    </div>
                </div>
                <div class="d-lg-none">
                    <div class="card my-3 px-3 justify-content-center" style="height: 330px;border-radius:20px;position:relative;border:none;">
                        <img class="img-fluid mb-3 d-none d-lg-block" src="https://corona.jakarta.go.id/img/logo/img-protokol-2.svg" alt="" style="height:auto;position: absolute;top:-20px;right:20px;">
                        <img class="img-fluid mb-3 d-lg-none" src="https://corona.jakarta.go.id/img/logo/img-protokol-2.svg" alt="" style="width:30%;height:auto;position: absolute;top:-10px;right:10px;">
                        <p><b>Maksimal 25%</b></p>
                        <p>Sesuai <a href="https://corona.jakarta.go.id/storage/documents/keputusan-gubernur-dki-jakarta-nomor-796-tahun-2021-tentang-perpanjangan-pemberlakuan-pembatasan-kegiatan-masyarakat-berbasis-mikro-60d298473a8f1.pdf" target="_blank">Kepgub No. 796 Tahun 2021</a>, seluruh kegiatan non-sektor esensial harus beroperasi dalam kapasitas <a href="https://www.instagram.com/p/CQdTpMogi2G/" target="_blank">maksimal 25%</a> dan menjalankan protokol kesehatan dengan ketat.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card my-3 px-3 justify-content-center" style="height: 250px;border-radius:20px;position:relative;border:none;">
                    <img class="img-fluid mb-3 d-none d-lg-block" src="https://corona.jakarta.go.id/img/logo/img-protokol-3.svg" alt="" style="height:auto;position: absolute;top:-20px;right:20px;">
                    <img class="img-fluid mb-3 d-lg-none" src="https://corona.jakarta.go.id/img/logo/img-protokol-3.svg" alt="" style="width:30%;height:auto;position: absolute;top:-10px;right:10px;">
                    <p><b>Ingatkan Sesama</b></p>
                    <p>Saling mengingatkan untuk menjalankan protokol kesehatan</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="d-none d-lg-block" style="padding-top: 50px"></div>
<section id="artikel">
    <div class="container py-3">
        <div class="row">
            <div class="col-md-6">
            </div>
        </div>
        <div class="row m-0">
            <div class="slider py-3">
                            </div>
        </div>
    </div>
</section>
<div class="d-none d-lg-block" style="padding-top: 50px"></div>
<section id="data">
    <div class="container py-5">
        <div class="d-none d-lg-block" style="padding-top:100px"></div>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-7">
                <div class="d-none" style="position: absolute;top:-32px;left:-60px;">
                    <h1 class="title-shadow">JELAJAHI DATA</h1>
                </div>
                <div style="position: relative;font-size: 45px;">
                    <h1>JELAJAHI <span class="title-blue px-2">DATA</span></h1>
                    <h1>COVID-19 TERAKTUAL</h1>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-none d-lg-block" style="position: absolute;top:-180px;right:-10px;">
                    <img src="https://corona.jakarta.go.id/img/logo/bg-dot.svg" alt="" style="max-width: 80%;height:auto;">
                </div>
            </div>
        </div>
        <div class="row m-0 align-items-center">
            <div class="col-md-12">
                <div class="peta py-5">
                    <div class="row m-0">
                        <div class="col-md-2"></div>
                        <div class="col-md-4" style="align-self: center;">
                            <p style="font-size: 18px;">PETA</p>
                            <h3>Kronologis</h3>
                            <p>Peta kronologis dan perkembangan kasus COVID-19 di Indonesia</p>
                            <div class="d-none d-lg-block">
                                <a href="https://corona.jakarta.go.id/id/peta-kronologis" class="btn button-lihat white-link raise2" target="_blank" rel="noopener noreferrer">Lihat</a>
                            </div>
                        </div>
                        <div class="col-md-6 text-center" style="align-self: center;">
                            <div class="d-none d-lg-block">
                                <img class="img-fluid mb-3" src="https://corona.jakarta.go.id/img/logo/img-peta-kronologis.png" alt="" style="width:59%;height:auto;">
                            </div>
                            <div class="d-lg-none">
                                <img class="img-fluid mb-3" src="https://corona.jakarta.go.id/img/logo/img-peta-kronologis.png" alt="" style="width:100%;height:auto;">
                            </div>
                            <div class="d-lg-none">
                                <a href="https://corona.jakarta.go.id/id/peta-kronologis" class="btn button-lihat white-link raise2" target="_blank" rel="noopener noreferrer">Lihat</a>
                            </div>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-md-2"></div>
                        <div class="col-md-4" style="align-self: center;">
                            <p style="font-size: 18px;">PETA</p>
                            <h3>Persebaran</h3>
                            <p>Peta persebaran kasus positif COVID-19 per kelurahan di Indonesia didukung oleh Peta ArcGIS</p>
                            <div class="d-none d-lg-block">
                                <a href="https://corona.jakarta.go.id/id/peta-persebaran" class="btn button-lihat white-link raise2" target="_blank" rel="noopener noreferrer">Lihat</a>
                            </div>
                        </div>
                        <div class="col-md-6 text-center" style="align-self: center;">
                            <div class="d-none d-lg-block">
                                <img class="img-fluid mb-3" src="https://corona.jakarta.go.id/img/logo/img-peta-persebaran.png" alt="" style="width:59%;height:auto;">
                            </div>
                            <div class="d-lg-none">
                                <img class="img-fluid mb-3" src="https://corona.jakarta.go.id/img/logo/img-peta-persebaran.png" alt="" style="width:100%;height:auto;">
                            </div>
                            <div class="d-lg-none">
                                <a href="https://corona.jakarta.go.id/id/peta-persebaran" class="btn button-lihat white-link raise2" target="_blank" rel="noopener noreferrer">Lihat</a>
                            </div>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-md-2"></div>
                        <div class="col-md-4" style="align-self: center;">
                            <p style="font-size: 18px;">PETA</p>
                            <h3>Penerapan (WPK)</h3>
                            <p>Peta zona penerapan Wilayah Pengendalian Ketat (WPK) di sejumlah Rukun Tetangga (RT) yang terdampak COVID-19 di Indonesia</p>
                            <div class="d-none d-lg-block">
                                <a href="https://corona.jakarta.go.id/id/zona-pengendalian" class="btn button-lihat white-link raise2" target="_blank" rel="noopener noreferrer">Lihat</a>
                            </div>
                        </div>
                        <div class="col-md-6 text-center" style="align-self: center;">
                            <div class="d-none d-lg-block">
                                <img class="img-fluid mb-3" src="https://corona.jakarta.go.id/img/logo/img-peta-wpk.png" alt="" style="width:59%;height:auto;">   
                            </div>
                            <div class="d-lg-none">
                                <img class="img-fluid mb-3" src="https://corona.jakarta.go.id/img/logo/img-peta-wpk.png" alt="" style="width:100%;height:auto;">   
                            </div>
                            <div class="d-lg-none">
                                <a href="https://corona.jakarta.go.id/id/zona-pengendalian" class="btn button-lihat white-link raise2" target="_blank" rel="noopener noreferrer">Lihat</a>
                            </div>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-md-2"></div>
                        <div class="col-md-4" style="align-self: center;">
                            <p style="font-size: 18px;">PETA</p>
                            <h3>Vaksinasi Kelurahan</h3>
                            <p>Peta capaian vaksinasi COVID-19 berbasis kelurahan Indonesia</p>
                            <div class="d-none d-lg-block">
                                <a href="https://corona.jakarta.go.id/id/peta-vaksinasi-kelurahan" class="btn button-lihat white-link raise2" target="_blank" rel="noopener noreferrer">Lihat</a>
                            </div>
                        </div>
                        <div class="col-md-6 text-center" style="align-self: center;">
                            <div class="d-none d-lg-block">
                                <img class="img-fluid mb-3" src="https://corona.jakarta.go.id/img/logo/img-peta-vaksinasi-kelurahan.png" alt="" style="width:59%;height:auto;">   
                            </div>
                            <div class="d-lg-none">
                                <img class="img-fluid mb-3" src="https://corona.jakarta.go.id/img/logo/img-peta-vaksinasi-kelurahan.png" alt="" style="width:100%;height:auto;">   
                            </div>
                            <div class="d-lg-none">
                                <a href="https://corona.jakarta.go.id/id/peta-vaksinasi-kelurahan" class="btn button-lihat white-link raise2" target="_blank" rel="noopener noreferrer">Lihat</a>
                            </div>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-md-2"></div>
                        <div class="col-md-4" style="align-self: center;">
                            <p style="font-size: 18px;">PETA</p>
                            <h3>Vaksinasi RT</h3>
                            <p>Peta capaian vaksinasi COVID-19 berbasis RT Indonesia</p>
                            <div class="d-none d-lg-block">
                                <a href="https://corona.jakarta.go.id/id/peta-vaksinasi-rt" class="btn button-lihat white-link raise2" target="_blank" rel="noopener noreferrer">Lihat</a>
                            </div>
                        </div>
                        <div class="col-md-6 text-center" style="align-self: center;">
                            <div class="d-none d-lg-block">
                                <img class="img-fluid mb-3" src="https://corona.jakarta.go.id/img/logo/img-peta-vaksinasi-rt.png" alt="" style="width:59%;height:auto;">   
                            </div>
                            <div class="d-lg-none">
                                <img class="img-fluid mb-3" src="https://corona.jakarta.go.id/img/logo/img-peta-vaksinasi-rt.png" alt="" style="width:100%;height:auto;">   
                            </div>
                            <div class="d-lg-none">
                                <a href="https://corona.jakarta.go.id/id/peta-vaksinasi-rt" class="btn button-lihat white-link raise2" target="_blank" rel="noopener noreferrer">Lihat</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-0 py-5">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6 pb-3">
                        <div class="card card-shadow mx-3 px-3 py-3" style="border-radius: 20px">
                            <img class="img-fluid py-3" src="https://corona.jakarta.go.id/img/logo/img-visualisasi.svg" alt="">
                            <p>DATA</p>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h4>Visualisasi</h4>
                                </div>
                                <div class="d-none d-lg-block">
                                    <a href="https://corona.jakarta.go.id/id/data-visualisasi" target="_blank" rel="noopener noreferrer">Lihat</a>
                                </div>
                            </div>
                            <a class="d-lg-none" href="https://corona.jakarta.go.id/id/data-visualisasi" target="_blank" rel="noopener noreferrer">Lihat</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-shadow mx-3 px-3 py-3" style="border-radius: 20px">
                            <img class="img-fluid py-3" src="https://corona.jakarta.go.id/img/logo/img-pemantauan.svg" alt="">
                            <p>DATA</p>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h4>Pemantauan COVID-19</h4>
                                </div>
                                <div class="d-none d-lg-block">
                                    <a href="https://corona.jakarta.go.id/id/data-pemantauan" target="_blank" rel="noopener noreferrer">Lihat</a>
                                </div>
                            </div>
                            <a class="d-lg-none" href="https://corona.jakarta.go.id/id/data-pemantauan" target="_blank" rel="noopener noreferrer">Lihat</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>



<div class="modal fade p-0" id="jakEVO" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <a id="closemodal" href="https://linktr.ee/jakartasmartcity" class="modal-body position-relative p-0" target="_blank" style="border-bottom: none;">
                <img class="modal-img" src="https://corona.jakarta.go.id/img/logo/img-banner-voting.jpg" alt="">
            </a>
            <a class="close position-absolute" data-dismiss="modal">
                <img src="" alt="">
            </a>
        </div>
    </div>
</div>
<!-- akhir dari popup -->

{% endblock %}